.add1{
 background-color: blue;
}
.cal{
  background-color: rgb(175, 190, 190);
  position: fixed; 
  padding-left: 12px;
  padding-right: 12px;
  
  margin-top: 10%;
max-height: 500px;
  
}
